@column-width: 14%;
@row-height: 40px;
@cil-width: 330px;

html {
	margin: 0;
	padding: 0;
}
body {
	margin-bottom: 0;
	margin-top:0;
	display: block;
	margin: 0;
	padding: 0 0 60px 0;
	font-family: Arial, Helvetica, sans-serif;
	color: #333;
	background-image: url('../img/tiny_grid.png');
}
.wrapper {
	position: relative;
	padding-left: @cil-width + 15px;
	padding-right: 10px;
}

.cil {
	position: absolute;
	top:0px;
	left:10px;
	width: @cil-width;
}
.schedule {
	font-size: 12px;
	position: relative;
	min-width: 750px;
	margin: 5px 0 0 0px;
	height: @row-height * 13px - 2px;
	border: #CCC thin solid;
	border-top-left-radius: 11px;
	border-top-right-radius: 11px;
	.striped-background;
}
.striped-background {
	background: url('../img/background.png');
	background: repeating-linear-gradient(top, #efefef 0px,#efefef 39px,#efefef 40px,#efefef 40px,#ffffff 40px,#ffffff 80px);  
	background: -webkit-repeating-linear-gradient(top, #efefef 0px,#efefef 39px,#efefef 40px,#efefef 40px,#ffffff 40px,#ffffff 80px);  
	background: -moz-repeating-linear-gradient(top, #efefef 0px,#efefef 39px,#efefef 40px,#efefef 40px,#ffffff 40px,#ffffff 80px);  
	background: -o-repeating-linear-gradient(top, #efefef 0px,#efefef 39px,#efefef 40px,#efefef 40px,#ffffff 40px,#ffffff 80px);  
}
.column {
	position: relative;
	float: left;
	width: @column-width;
	height: 100%;
	border-right: thin solid #CCC;
}
.column.last {
	border-right: none;
}
.time-slots {
	list-style: none;
	margin: 0;
	padding: 0;
}
.time-slots li {
	height: @row-height;
	width: 100%;
	text-align: center;
	line-height: @row-height;
}
.schedule-header {
	position: absolute;
	top: 0;
	left: 0;
	height: 38px;
	width: 100%;
	border-bottom: solid thin #CCC;
}
.weekdays {
	list-style: none;
	margin: 0;
	padding: 0;
}
.weekdays li {
	float: left;
	width: @column-width;
	height: @row-height;
	line-height: @row-height;
	text-align: center;
}
.course-crn:focus, .foot-bar-edit-input:focus {
	border-color: rgba(82, 168, 236, 0.8);
	outline: 0;
	outline: thin dotted 9;
	-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075),0 0 8px rgba(82, 168, 236, 0.6);
	-moz-box-shadow: inset 0 1px 1px rgba(0,0,0,0.075),0 0 8px rgba(82,168,236,0.6);
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075),0 0 8px rgba(82, 168, 236, 0.6);
}
.course-crn, .foot-bar-edit-input {
	width: 50px;
	height: 16px;
	padding: 4px;
	background-color: white;
	border: 1px solid #CCC;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
	-moz-box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
	-webkit-transition: border linear .2s,box-shadow linear .2s;
	-moz-transition: border linear .2s,box-shadow linear .2s;
	-ms-transition: border linear .2s,box-shadow linear .2s;
	-o-transition: border linear .2s,box-shadow linear .2s;
	transition: border linear .2s,box-shadow linear .2s;
}
.course-number {
	width: 70px;
	margin: 0 2px 0 2px;
}
.cli-course-input {
	margin: 5px 0 5px 0;
}
#add-course, .cil-submit {
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	display: inline-block;
	padding: 4px 10px 4px;
	margin-bottom: 0;
	font-size: 13px;
	line-height: 18px;
	height: 30px;
	color: #fff;
	text-align: center;
	vertical-align: middle;
	cursor: pointer;
	border: 1px solid #CCC;
	border-bottom-color: #B3B3B3;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	-webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
	-moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
	box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
	background-color: #5BB75B;
	background-image: -ms-linear-gradient(top, #62C462, #51A351);
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#62C462), to(#51A351));
	background-image: -webkit-linear-gradient(top, #62C462, #51A351);
	background-image: -o-linear-gradient(top, #62C462, #51A351);
	background-image: -moz-linear-gradient(top, #62C462, #51A351);
	background-image: linear-gradient(top, #62C462, #51A351);
	background-repeat: repeat-x;
	border-color: #51A351 #51A351 #387038;
	border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
	filter: progid:dximagetransform.microsoft.gradient(startColorstr='#62c462', endColorstr='#51a351', GradientType=0);
	filter: progid:dximagetransform.microsoft.gradient(enabled=false);
}
.cil-submit {
	background-color: #0074CC;
	background-image: -ms-linear-gradient(top, #08C, #05C);
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#08C), to(#05C));
	background-image: -webkit-linear-gradient(top, #08C, #05C);
	background-image: -o-linear-gradient(top, #08C, #05C);
	background-image: -moz-linear-gradient(top, #08C, #05C);
	background-image: linear-gradient(top, #08C, #05C);
	background-repeat: repeat-x;
	border-color: #05C #05C #003580;
	border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
	filter: progid:dximagetransform.microsoft.gradient(startColorstr='#0088cc', endColorstr='#0055cc', GradientType=0);
	filter: progid:dximagetransform.microsoft.gradient(enabled=false);
	color: white;
	text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
}
.cil-submit:active {
	background-image: none;
	outline: 0;
	-webkit-box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05);
	-moz-box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05);
	box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05);
}
.cil-submit:hover {
	background-color: #05C;
	background-position: 0 -15px;
}
#add-course:active {
	background-color: #51A351;
	background-image: none;
	outline: 0;
	-webkit-box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05);
	-moz-box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05);
	box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05);
}
#add-course:hover {
	color: #fff;
	text-decoration: none;
	background-color: #51A351;
	background-position: 0 -15px;
}
.remove-course {
	margin-left: 5px;
	line-height: 26px;
}
.remove-course-btn {
	display: inline-block;
	width: 14px;
	height: 14px;
	background-image: url("../img/sprite.png");
  background-position: 0 0;
	background-repeat: no-repeat;
	cursor: pointer;
}
.remove-course-btn:hover {
  background-position: -14px 0;
}
input {
	color: #555;
}
.course-subject {
	width: 180px;
}
#logo {
	width: 127px;
	height: 33px;
	background: url(../img/logo_engraved.png);
	margin: 20px auto;
}
.clear {
	clear: both;
}
.course-slot {
	width: 100%;
}
.course-slot-wrapper {
	position: relative;
	border: thin solid;
	border-radius: 3px;
	margin: 0 2px;
	padding: 0 3px;
	height: 100%;
}
.course-slot-main {
}
.filters {
	font-size: 12px;
	margin: 20px 0 15px 0;
}
.filters-table tr td {
	text-align: center;
}
.filters h2 {
	font-size: 14px;
	margin-bottom: 5px;
}
.filter-btn {
	display: inline-block;
	width: 14px;
	height: 14px;
	background-image: url("../img/sprite.png");
  background-position: -28px 0;
	background-repeat: no-repeat;
	margin-right: 5px;
}
.paginator {
	position: absolute;
	bottom: -40px;
	width: 100%;
}
.paginator span {
	cursor: pointer;
}
.paginator span:hover {
	text-decoration: underline;
}
.top {
	top: -40px;
	height: 35px;
}
.previous, .next {
	position: relative;
	float: right;
	background-color: transparent;
	background-image: linear-gradient(top,whiteSmoke,#F1F1F1);
	background-image: -moz-linear-gradient(top,whiteSmoke,#F1F1F1);
	background-image: -o-linear-gradient(top,whiteSmoke,#F1F1F1);
	background-image: -webkit-linear-gradient(top,whiteSmoke,#F1F1F1);
	border: 1px solid rgba(0, 0, 0, 0.1);
	color: #444;
	width: 36px;
	height: 29px;
	cursor: pointer;
}
.previous:hover, .next:hover {
	border-color: #999;
}
.previous:active, .next:active {
	border-color: #4D90FE;
}
.next {
	border-top-right-radius: 4px;
	border-bottom-right-radius: 4px;
}
.previous {
	border-top-left-radius: 4px;
	border-bottom-left-radius: 4px;
}
.arrow-right, .arrow-left {	
	display: block;
	width: 14px;
	height: 14px;
	background-image: url("../img/sprite.png");
	background-repeat: no-repeat;
	margin: 7px auto 0 auto;
}
.arrow-right {
	background-position: -84px 0;
}
.arrow-left {
  background-position: -70px 0;
}
.paginator-text {
	float: right;
	margin: 1px 10px 0 0 ;
	height: 30px;
	line-height: 30px;
	font-weight: bold;
}
.disabled {
	cursor: default;
	opacity:0.4;
	filter:alpha(opacity=40); /* For IE8 and earlier */
}
.disabled:hover, .disabled:active {
	border-color: rgba(0, 0, 0, 0.1);
}
.course-floats {
	float: left;
	height: 26px;
}
.add-course-icon {
	display: block;
	width: 14px;
	height: 14px;
	background-image: url("../img/sprite.png");
	background-repeat: no-repeat;
  background-position: -140px 0;
	margin-top: 2px;
	margin-right: 4px;
	float: left;
}
/* tooltip CSS */
.tooltip-content {
	position: absolute;
	border-radius: 5px;
	background-color: #FFF;
	border: solid 3px #000;
	-webkit-box-shadow: 0px 0px 20px rgba(50, 50, 50, 1);
	-moz-box-shadow:    0px 0px 20px rgba(50, 50, 50, 1);
	box-shadow:         0px 0px 20px rgba(50, 50, 50, 1);
	z-index: 2;
}
.tooltip-content:after {
	position: absolute;
	border: solid 8px #000;
	content: ' ';
	width: 0px;
	height: 0px;
	left: 50%;
	margin-left: -11px;
	bottom: -16px;
	border-color: #000 transparent transparent transparent;
}
.tooltip-title {
	background-color: #EFEFEF;
	color: #333;
	padding: 5px;
}
.tooltip-body {
	padding: 5px;
	text-align: left;
}
.transition {
	-webkit-transition: opacity 300ms;
	-moz-transition: opacity 300ms;
	-o-transition: opacity 300ms;
	-ms-transition: opacity 300ms;
	transition: opacity 300ms;
}
/* End of tooltip CSS */
.loader {
	display: none;
	position: absolute;
	width: 32px;
	height: 32px;
	left: 50%;
	top: 50%;
	margin: -16px 0 0 -16px;
	background: url('../img/loader.gif') no-repeat;
}

/*foot-bar CSS */
.foot-bar {
	z-index: 10;
	position: fixed;
	bottom: -260px;
	height: 300px;
	width: 900px;
	background-color: #EEE;
	left: 50%;
	margin-left: -450px;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
	.transition(linear, bottom, 0.3s);
	border: solid thin #BBB;
	-webkit-box-shadow: 0px 0px 10px rgba(50, 50, 50, 0.75);
	-moz-box-shadow:    0px 0px 10px rgba(50, 50, 50, 0.75);
	box-shadow:         0px 0px 10px rgba(50, 50, 50, 0.75);
}
.transition(@type: linear, @prop: all, @time: 1s) {
	-webkit-transition: @type @prop @time;
	-moz-transition: @type @prop @time;
	-o-transition: @type @prop @time;
	-ms-transition: @type @prop @time;
	transition: @type @prop @time;
}
.foot-bar-top {
	position: relative;
	height: 40px;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
	background-color: #EEE;
	background-repeat: repeat-x;
	background-image: -moz-linear-gradient(top, whiteSmoke 0%, #EEE 100%);
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%,whiteSmoke), color-stop(100%,#EEE));
	background-image: -webkit-linear-gradient(top, whiteSmoke 0%,#EEE 100%);
	background-image: -ms-linear-gradient(top, whiteSmoke 0%,#EEE 100%);
	background-image: -o-linear-gradient(top, whiteSmoke 0%,#EEE 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f5f5f5', endColorstr='#eeeeee',GradientType=0 );
	background-image: linear-gradient(top, whiteSmoke 0%,#EEE 100%);
	border-bottom: solid thin #BBB;
}
.foot-bar-toggle {
	position: absolute;
	top: 0;
	left: 0;
	width: 860px;
	height: 100%;
	cursor: pointer;
}
.foot-bar-arrow {
	float: left;
	.icon;
  background-position: -56px 0;
}
.foot-bar-arrow.down {
  background-position: -42px 0;
}
.foot-bar-add {
	float: right;
	.icon;
  background-position: -98px 0;
	opacity: 0.6;
}
.foot-bar-add:hover {
	opacity: 1;
}
.foot-bar-combination {
	padding: 0 15px 15px 15px;
	list-style-position: inside;
	list-style: none;
	font-size: 13px;
}
.foot-bar-combination li {
	padding: 10px 0 10px 10px;
	border-top: solid thin #999;
}
.foot-bar-combination li:first-child {
	border-top: none;
}
.foot-bar-content {
	overflow-y: scroll;
	height: 260px;
}
.foot-bar-remove {
	.icon;
	margin: 0;
  background-position: -112px 0;
	opacity: 0.6;
}
.foot-bar-remove:hover {
	opacity: 1;
}
.foot-bar-edit {
	.foot-bar-remove;
	margin-left: 3px;
  background-position: -126px 0;
}
.foot-bar-edit:hover {
	opacity: 1;
}
.foot-bar-combination-name {
	color: #333;
	text-decoration: none;
}
.icon {
  display: inline-block;
  width: 14px;
  height: 14px;
	margin: 13px;
  line-height: 14px;
  vertical-align: text-top;
  background-image: url("../img/sprite.png");
  background-position: 14px 14px;
  background-repeat: no-repeat;
	cursor: pointer;
}
.foot-bar-edit-input {
	display: none;
	width: 600px;
}
/* End of foot-bar CSS */
.empty-error {
	position: absolute;
	width: 500px;
	height: 30px;
	font-size: 20px;
	left: 50%;
	top: 50%;
	margin-left: -250px;
	margin-top: -15px;
	text-align: center;
	font-weight: bold;
	z-index: 9;
	display: none;
}